
#myCanvas.circle,#CanvasGame.circle{
    border-radius: 50%;
}
#myCanvas,#CanvasGame{
    position: absolute;  
    left: calc(50% - 300px);
    top: 5%;
    transition: width 2s, height 2s;
    background-color: white;
}
#myCanvas.generated{
    top: -15vh;
    left: calc(100% - 450px - 1vh);
    transform: scale(0.5);
    transition: top 3s, left 3s;
    transition: 1s ease-in;
}
#CanvasGame{  
    position: absolute;  
    top: 5%;
    left: calc(50% - 300px);
}

body{
    background-color: gray;
}

::-webkit-scrollbar {
    width: .5vw;
}
  
  /* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    transition: .4s;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
    transition: .4s;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
    transition: .4s;
}

#ValasztBox{
    border: 2px solid white;
    width: 95%;
    height: auto;
    position: fixed;
    bottom: 1vw;
    margin-left: 2vw;
    border-radius: .6vw;
    background-color: rgba(60, 60, 60, 0.8);
    padding: .5vw;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.DiszIMG img{
    width: 100%;
    height: 100%;
}

.DiszIMG{
    margin: .4vw;
    height: 7vw;
    width: 7vw;
}

#TortaDiv{
    border: 2px solid black;
    height: 25vw;
    width: 25vw;
    margin: auto;
}

.DifficultySet{
    border: 2px solid gray;
    width: 20vw;    
    height: 50vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.8);
    transition: .4s !important;
    border-left: 0;
    border-bottom-right-radius: .4vw;
    border-top-right-radius: .4vw;
    margin-left: -20vw;
    padding-bottom: 1.5vw;
}

.DifficultySet:hover{
    border: 2px solid white;
    border-left: 0;
}

.SetAktiv{
    margin-left: 0vw;
    transition: .4s !important;
}

.DiffButtons{
    width: 15vw;
    margin: .3vw auto;
    height: 4vw;
    border: 2px solid rgb(130, 130, 130);
    background-color: rgba(20, 20, 20, 0.8);
    color: rgb(130, 130, 130);
    transition: .4s;
    cursor: pointer;
    border-radius: .4vw;
    margin-bottom: 1.2vw;
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 2.4vw;
}

.DiffButtons:hover{
    border: 2px solid white;
    color: white;
    letter-spacing: 0.2em;
}

.AktivDiff{
    border: 2px solid lime !important;
    color: lime !important;
    letter-spacing: 0.2em !important;
}
#jatekleiras{
    padding-left: 10px;
}
.offcanvas{
    background-color:  rgba(20, 20, 20, 0.8);
    color: white;
    font-size: 1.2vw;
}
.btn-close{
    background-color: white;
}